body{
    background: radial-gradient(white 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(grey 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, black 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, black 77px, transparent 78px, transparent 109px),
    grey;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: "Garamond", "Serif", monospace;
    color: black;
}

img {
  width: 100%;
  height: auto;
}

.introBox {
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.introBox h1{
  border: 5px rgb(92, 91, 91) ridge;
  margin-right: 40%;
  margin-left: 40%;
  background-color: grey;
}

nav {
  border-bottom: 3px black solid;
}

nav img {
  width: auto;
  height: 45px;
}

#aboutMeBox {
  border: black 5px solid;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(153, 152, 152);
  text-align: center;
}

#pictureofMyself {
    width: 30%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}

#projects {
  border: 5px solid black;
  padding: 20px;
  margin: 8%;
  background-color: rgb(78, 78, 78);
  text-decoration : none; 
  color : black;
}

#projects h1 {
  padding: 30px;
}

.card-body {
  background-color: lightgray;
}

#contactBox {
  border: black 5px solid;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 30px;
  background-color: gray;
  padding: 12px;
}

#fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: inherit;
      border: none;
      border-radius: 0;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: .825rem;
      margin-bottom: .5rem;
      padding-top: .2rem;
      display: flex;
      align-items: baseline;
    }
    
    /* border, padding, margin, width */
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm #card-element {
      border: 1px solid rgba(0,0,0,0.2);
      background-color: rgba(255,255,255,0.9);
      padding: .75em 1rem;
      margin-bottom: 1.5rem;
    }
    #fs-frm input:focus,
    #fs-frm select:focus,
    #fs-frm textarea:focus {
      background-color: white;
      outline-style: solid;
      outline-width: thin;
      outline-color: gray;
      outline-offset: -1px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="email"] {
      width: 100%;
    }
    #fs-frm [type="button"],
    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
      width: auto;
      cursor: pointer;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
    }
    #fs-frm [type="button"]:focus,
    #fs-frm [type="submit"]:focus,
    #fs-frm [type="reset"]:focus {
      outline: none;
    }
    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
      margin-bottom: 0;
    }
    #fs-frm select {
      text-transform: none;
    }
    
    #fs-frm [type="checkbox"] {
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox;
      display: inline-block;
      width: auto;
      margin: 0 .5em 0 0 !important;
    }
    
    #fs-frm [type="radio"] {
      -webkit-appearance: radio;
      -moz-appearance: radio;
      appearance: radio;
    }

#footer {
  background-color: grey; 
  text-align: center;
  margin-bottom: -20px;
  padding-bottom: 1px;
}

#footer img {
  width: auto;
  height: 18px;
}